.btn {
    display: block;
    padding: 6px;
    border-radius: 4px;
    border: 1px solid black;
    margin: 0 auto;
    font: inherit;
    cursor: pointer;
    background-color: #F2F99C;
    color: inherit;
}


.btn:hover {
    background-color: #D1B4F7;
    color: #fff;
}

.btn:active {
    background-color: #D1B4F7;
    color: #fff;
}