.contactlist {
    display: flex;
    flex-wrap: wrap;
    gap: 12px;
    width: 100%;
}

.contactlist_item {
    border: 1px solid #F2F99C;
    border-radius: 3px;
    flex-basis: calc((100% - 24px) / 3);
    background-color: #F1F1F1;
    padding: 12px;
}